/* section one style */
* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 800px;
    background-color: #E554731A;
    margin-bottom: auto;
}

.header-title {
    color: #272727;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.btn-pry {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    margin-top: 20px;
}

.s-one {
    margin-left: 240px;
}

/* section two */
.flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.our-flower {
    margin-bottom: 30px;
}

.flower-detils {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* images section */
.our-photos {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 240px;
    padding-left: 240px;
    padding-top: 50px;
    text-align: center;
    gap: 24px;
    margin-bottom: 100px;
}

.gallery {
    width: 310px;
    height: 428px;
    width: 464px;
    height: 538px;
   

}

#pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

#mixed {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

#yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.bottom {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* small section style */
.icon{
 padding-left: 50px;
}
.icon2{
    padding-right: 40px;
}
.small-sectiom {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 60px;

}


/* STYLE HOT DEAL SECTION */
.hot-deal-container {
    height: 4867px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 800px;
    background-color: #E554731A;
    margin-bottom: 100px;
}

.tex {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 400px;
}

.pic {
    margin-right: 430px;
}

span {
    color: #E55473;
}

/* Instagram styles */
.instagram {
    margin-bottom: 50px;
}

.gallery-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;
}

.form {
    display: flex;
    justify-content: center;
    max-lines: 240px;
    margin-right: 240px;
}

input {
    width: 700px;
    height: 64px;
    border: none;


}

#btn {
    width: 150px;
    height: 69px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-left: 15px;
}

.search {
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
background: url('../images/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
margin: auto;
}

footer {
    height: 450px;
    background-color: black;
}

.white {
    color: white;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    padding: 128px 832px 10px 831px;
    text-align: center;
}

.copy-wrire {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;

    font-size: 16px;

    font-weight: 400;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    margin: auto;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    width: 625px;
}